{% extends "layout.html" %}

{% block title %}
    Tense
{% endblock %}

{% block main %}

<h1 >
    {{ lang }} tenses
</h1>

<h2><small class="text-muted">(Please select the tenses you would like to practice)</small></h2>

<form action="{{ url_for('tense', lang_id=lang_id, lang=lang)}}" method="post">
    <div class="form-group">
    {% for tense in tenses %}
    <input type="checkbox" name="tense-checkbox" value="{{ tense[0] }}"> {{ tense[1] }}<br>
    {% endfor %}
    <!--Try an on-click function in JS that will change the action string to the current URL-->
    </div>
    <button id="tenseSubmit" type="submit" class="btn btn-success btn-lg">Conjugate</button>
</form>

<script>
    function activateSubmit() {
        var str = window.location.href
    }
</script>

{% endblock %}
