{% extends "layout.html" %}

{% block title %}
    Tense
{% endblock %}

{% block main %}

<h1 >
    {{ lang }} tenses
</h1>

<h2><small class="text-muted">(Please select the tenses you would like to practice)</small></h2>

<form action="/1/English" method="post">
    <div class="form-group">
    {% for tense in tenses %}
    <input type="checkbox" name="tense-checkbox" value="{{ tense[1] }}"> {{ tense[2] }}<br>
    {% endfor %}
    <!--Try an on-click function in JS that will change the action string to the current URL-->
    </div>
    <input type="submit" value="Conjugate">

</form>

<script>
    function activateSubmit() {
        var str = window.location.href
    }
</script>

{% endblock %}
